In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
from sqlalchemy import create_engine

In [2]:
#pip install psycopg2-binary

In [3]:
#pip install pyinstaller

# Connect to the postgres database

In [4]:
from config import password

In [5]:
password

'root'

In [6]:
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/SQL_Challenge')
connection = engine.connect()

In [7]:
salaries = pd.read_sql("SELECT * FROM \"salaries\"", connection)
salaries.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228